

.card {
  padding: 10px;
  width: 300px;
  height: auto;
  background-color:#fff;
}

.card > *:not(:last-child) {
  margin-bottom: 10px;
}
.card-more {
  margin-top: 20px;
  display: none;
}

.card:not(:last-child) {
  margin-right: 10px;
}

.card-more-change {
  margin-top: 10px;
}

.visit-list {
  display: flex;
  flex-wrap: wrap;
}


.doctor {
  display: block;
}
