
.login-form {
  padding: 20px;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  width: 400px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}


.login-form > * {
  align-self: center;
  border: none;
}
.login-form > *:not(:last-child) {
  padding: 5px 0px;
  margin-bottom: 20px;
  background-color: #808080;
}
::placeholder {
  color: #f2f2f2;
}

  input, select, textarea {
    color: #fff;
    text-indent: 20px;
    line-height: 20px;
}
.login-btn {
    padding: 10px;
    background-color: #3b5998;
    color: #fff;
    width: 50%;

}
.login-btn:hover {
  background-color: black;
}
input {

  padding: 0;
  width: 100%;
}