
.search-form {
    color: black;
    margin-top: 200px;
    margin-bottom: 20px;
}

.search-items {

    display: flex;
    flex-direction: row;
    &__item {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        min-width: 70px;
    }
    &__item:not(:last-child) {
        margin-right: 20px;
    }
    &__item-input {
        width: 300px;
    }
}



h3 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

input, select, textarea {
    color: #000;
    text-indent: 2px;
}