

<form class="visit-modal">

    <div class="visit-modal__container">
    <h3>Создать визит</h3>
    <p>Выбор Врача</p>
    <select class="doctors" data-input="input" id="visit-doctor" required>
        <option disabled selected value> -- Выбрать -- </option>
        <option class="doctor-selector" data-option-name="doc-1" value="cardiologist">Кардиолог</option>
        <option class="doctor-selector" data-option-name="doc-2" value="dentist">Стоматолог</option>
        <option class="doctor-selector" data-option-name="doc-3" value="therapist">Терапевт</option>
    </select>
        <hr>
    <div class="visit-modal__data">
        <p>Цель визита</p>
        <input class="goal" data-input="input" type="text" required>
        <p>Краткое описание визита</p>
        <input class="description" data-input="input" type="text" required>
        <p>Срочность</p>
        <select class="urgency" data-input="input" id="urgency" required>
            <option disabled selected value> -- Выбрать -- </option>
            <option value="regular">обычная</option>
            <option value="prioritised">приоритетная</option>
            <option value="urgent">срочная</option>
        </select>
        <p>ФИО</p>
        <input class="patient" data-input="input" type="text" required>
    </div>

    <div class="doctor doc-1">
        <p>обычное давление</p>
    <input class="pressure" data-input="input" type="text" required>
        <p>индекс массы тела</p>
    <input class="weight-index" data-input="input" type="text" required>
        <p>перенесенные заболевания <br> сердечно-сосудистой системы</p>
    <input class="sickness" data-input="input" type="text" required>
        <p>возраст</p>
    <input class="age input-data" type="text" required>
    </div>

    <div class="doctor doc-2">
        <p>дата последнего посещения</p>
        <input class="last-visit" data-input="input" type="text" required>
    </div>
    <div class="doctor doc-3">
        <p>возраст</p>
        <input class="doc3-age" data-input="input" type="text" required>
    </div>
        <button class="create" >Create</button>
    </div>
</form>
