<header class="header">
    <div class="container">
    <div class="header-nav">
        <ul class="header-nav__menu">
            <li ><a href="#"><img src="./img/logo.png" alt=""></a></li>
            <li class="header-nav__menu-login"> <button class="btn btn-login">Вход</button></li>
            <li class="header-nav__menu-visit"> <button class="btn visit-create">Создать визит</button></li>
        </ul>
    </div>
    </div>
</header>